<%= render "shared/header" %>

<div class="top_page">
  <div class="test_lists">
    <ul>
      <li>
        <%= link_to "リスト作成", new_topic_path %>
      </li>
      <li>
      list1<br>
      creator1
      </li>
      <li>
      list2<br>
      creator2
      </li>
    </ul>
  </div>
  <div class="test_questions">
    <ul>
      <li>
      test1<br>
      info1
      </li>
      <li>
      test2<br>
      info2
      </li>
    </ul>
  </div>
  <div class="action">
    <div class="question_info">
    問題の情報<br>
    情報2
    </div>
    <div class="test_start">
    開始
    </div>
    <div class="question_edit">
    編集
    </div>
  </div>
</div>