header {
  background-color: white;
  color: black;
  height: 10vh;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  width: 10vw;
  border: 1px solid black;
  margin-right: 1vw;
  text-align: center;
  padding: 3.5vh 0;
}

.tester_info {
  font-size: 3vh;
}
