<header>
  <div class="logo">
  ロゴ
  </div>
  <div class="tester_info">
    <ul>
      <li>
      <%= current_user.main_name %>
      </li>
      <li>
      <%= current_user.position %>
      </li>
    </ul>
  </div>
  <div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
  </div>
</header>